.alert-success 
{
    background-color: green;
    font-weight: bold;
}

.alert-warning {
    background-color: yellow;
    font-weight: bold;
}

.alert-danger {
    background-color: red;
    font-weight: bold;
}

.alert-info {
    background-color: teal;
    font-weight: bold;
}

.navbar
{
    background-color:orange !important;
    font-weight:bold !important;
}
body{
    background-color: black;
    color:orange;
/*for branch purposesqq*/
}
/*fixed